.product-preview {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: none;
    height: auto;
    min-width: 400px;
}

.product-preview__image {
    max-width: 400px;
    max-height: 250px;
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
}

/* ============================
   Bottom Section
   ============================ */

.product-preview__bottom {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    height: 100%;
    padding: 4%;
    background-image: none;
    color: #ffff;
    
}


.product-preview__data {
    font-family: 'Inter';
    font-weight: 800;
    max-width: 85%;
}

.product-preview__favorite-button {
    margin-right: 3%;
    width: 30px; 
    height: 30px;
}

/* ============================
   Price Section
   ============================ */

.product-preview__price {
    display: flex;
    align-items: baseline;
    gap: 1px;
    font-size: 1.2rem;
    align-items: flex-start; 
    
}



.price-fraction {
    font-size: 0.8rem;
    margin: 3px 0 0 3px;
}

.product-preview__title {
    margin: 10px 0 0;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Inter';
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    
}



/* ============================
   Media Queries for Responsiveness
   ============================ */

/* For tablets (e.g., screens less than 768px) */
@media (max-width: 768px) {
    .product-preview {
        min-width: 350px; 
        border-radius: 10px;
    }

    .product-preview__image {
        max-width: 350px; 
        max-height: 200px;
    }
    .price-fraction {
        font-size: 0.6rem;
    }
    .product-preview__price {
        font-size: 1rem; 
    }

    .product-preview__title {
        font-size: 0.9rem; 
    }
}

/* For mobile devices (e.g., screens less than 480px) */
@media (max-width: 480px) {
    .product-preview {
        min-width: 300px; 
    }

    .product-preview__image {
        max-width: 300px; 
        max-height: 150px;
    }
    .price-fraction {
        font-size: 0.5rem;
    }

    .product-preview__price {
        font-size: 0.9rem; 
    }

    .product-preview__title {
        font-size: 0.8rem; 
    }

    .product-preview__bottom {
        padding: 2%; 
    }
}

/* For very small mobile devices (e.g., screens less than 320px) */
@media (max-width: 320px) {
    .product-preview {
        min-width: 250px; /* Adjust for very small screens */
    }

    .product-preview__image {
        max-width: 250px; /* Adjust image size for very small screens */
        max-height: 120px;
    }

    .price-fraction {
        font-size: 0.4rem;
    }

    .product-preview__price {
        font-size: 0.8rem; /* Further reduce font size for price */
    }

    .product-preview__title {
        font-size: 0.7rem; /* Further reduce font size for title */
    }
}