
.navBar__container {
    --nav-height: 40px;
    --nav-font-size: max(12px, calc(0.17*var(--nav-height)));

    height: var(--nav-height);
    display: flex;
    position: fixed;
    align-items: center; 
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: #FFF;
    font-family: 'Inter';
    font-weight: 400;
    padding: 0 10%;
    font-size: var(--nav-font-size);
    transition: background-color 0.5s ease;
  }
  .navBar__solid-background{
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .navBar__searchBar {
    display: flex;
    align-items: center; 
    border-radius: 20px;
    width: 30%;
    max-width: 500px;
    height: 60%;
    max-height: 35px;
  }

  .navBar__searchBar .searchbar{
    background-color: #FFF;
    color:#0D0E36;
    font-size: var(--nav-font-size);
  }
  
  .navBar__--FQA,
  .navBar__--Explore{
    cursor: pointer;
  }
  
  .navBar__buttons--container{
    height: 100%;
    width: fit-content;
  }
  .navBar__buttons {
    display: flex;
    gap: 15px;
    height: 100%;
    align-items: center; 
  }
  .navBar__buttons.logged{
    gap: 50px
  }

  
  .navBar__buttons--SignUp,
  .navBar__buttons--Login {
    min-width: 90px;
    width: auto;
    height: 60%;
    border-radius: 30px;
    text-align: center;
    max-height: 35px;
  }
  .navBar__buttons--Login:hover{
    background-color:#562F7F ;
    color: white;
  }
  .navBar__buttons--SignUp:hover{
    background-color: rgb(114, 80, 136);
    color: rgb(255, 255, 255);
  }
  
  .navBar__buttons--SignUp {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
  }
  
  .navBar__buttons--Login {
    background-color: #FFF;
    color: #0D0E36;
    border: none;
  }

  .navBar__logo .logo__title{
    color: #fff;
  
  }
.logo__container{
  --logo-height: calc(0.7*var(--nav-height));
  }
  
  @media (max-width: 992px) {  
    .navBar__searchBar {
      margin-left: auto; /* Push it to the right */
      margin-right: 5%;
      width: 50%;
    }
  }

  @media (max-width: 688px) {  
     
  .navBar__buttons--SignUp,
  .navBar__buttons--Login {
    min-width: 60px;
  }
  .navBar__container{
    --nav-font-size: max(12px, calc(0.15*var(--nav-height)));

  }
  .navBar__buttons.logged{
    gap: 30px
  }
  }

  @media (max-width: 500px) {  
    .navBar__search-active .navBar__searchBar {
      width: 85%;
      margin-right: auto;
    }
    .navBar__buttons {
      gap: 10px;
    }
    .navBar__buttons.logged{
      gap: 20px
    }
    .navBar__buttons--SignUp,
    .navBar__buttons--Login {
      min-width: 60px;
    }
    .navBar__container{
      max-height: 50px;
      padding: 0 5%;
    }
    .logo__container {
      --logo-height: clamp(30px, calc(0.5 * var(--nav-height)), 60px); /* Example max of 60px */
    }
    }

    
  @media (max-width: 360px) {  
    .logo__container {
      --logo-height: clamp(25px, calc(0.4 * var(--nav-height)), 50px); /* Example max of 60px */
    }
    }