.cta-container {
  margin: 100px 0;
  color: white;
  padding: 60px;
  font-family: 'Inter';
}

.cta-container__welcomeText {
  font-size: 2rem;
  /* Adjust size as needed */
  font-weight: bold;
  background: linear-gradient(to right, #D2C0FD, #562F7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.cta-container__welcomeText {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-in, transform 2s ease-in;
}

.cta-container__welcomeText.visible {
  opacity: 1;
  transform: translateY(0);
}



.welcomeText__description {
  width: auto;
  background: linear-gradient(to bottom, #562F7F, #9B55E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;

}

.welcomeText__description {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-in, transform 2s ease-in;
}

.welcomeText__description.visible{
  opacity: 1;
  transform: translateY(0);
}

.cta-button {
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-top: 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
  width: 150px;
}

.cta-button:hover {
  background-color:#562F7F;
  color: white;
  opacity: 0.9;
}


@media (max-width: 688px) {  
  .cta-button {
    font-size: 1rem;
    width: 130px;
    padding: 7px 15px;
  }
  .cta-container__welcomeText {
    font-size: 1.8rem;
  }
  .welcomeText__description {
    font-size: 1.15rem;

  }
}

@media (max-width: 500px) {
  .cta-container {
    margin: 60px 0;
    padding: 50px;
  }
  .cta-button {
    font-size: 0.8rem;
    width: 100px;
    padding: 5px 10px;
  }
  .cta-container__welcomeText {
    font-size: 1.5rem;
  }
  .welcomeText__description {
    font-size: 0.95rem;
  }
}
@media (max-width: 320px) { 
  .cta-container {
    margin: 50px 0;
    padding: 40px;
  }
  .cta-button {
    font-size: 0.7rem;
    width: 90px;
    padding: 5px 10px;
  }
  .cta-container__welcomeText {
    font-size: 1.2rem;
  }
  .welcomeText__description {
    font-size: 0.8rem;
  }
}