.gradient-placeholder-purple,
.gradient-placeholder-LightPurple,
.gradient-placeholder-gray {
    width: 100%;
    height: 600px;
    /* Ajusta según tu diseño */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Permite posicionar el texto dentro */
}

.gradient-placeholder-purple {
    background: linear-gradient(to bottom, #3b0a56, #6a1b9a);
    background-size: cover;
    /* Ajusta la cobertura del fondo */
}

.gradient-placeholder-LightPurple {
    background: linear-gradient(to right, #8750A1, #3B0A56);
    background-size: cover;
}

.gradient-placeholder-gray {
    background: linear-gradient(to right, #5C3B54, #2A1E2D);
    background-size: cover;
}

.carousel-text {
    position: absolute;
    font-size: 30px;
    color: #FFF;
    background: rgba(0, 0, 0, 0);
    /* Fondo semitransparente */
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;

}

.text-slide-1 {
    top: 100px;
    /* Ajusta la posición del texto */
    left: 15%;
    text-align: left;
}

.text-slide-2 {
    top: 100px;
    /* Ajusta la posición del texto */
    left: 50%;
    text-align: right;
}

.text-slide-3 {
    top: 80px;
    /* Ajusta la posición del texto */
    left: 25%;
    text-align: center;
}

html,
body {
    overflow-x: hidden;
}