/* Estilos generales del footer */
footer {
  background-color: rgb(0, 0, 0);
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
}

.footer-navigation ul,
.footer-learn-more ul,
.footer-bottom ul {
  list-style: none;
  padding: 0;
}

.footer-navigation ul li,
.footer-learn-more ul li,
.footer-bottom ul li {
  margin-bottom: 10px;
}

.footer-navigation ul li a,
.footer-learn-more ul li a,
.footer-bottom ul li a {
  text-decoration: none;
  color: #333;
}

.footer-contact p {
  margin: 0;
}

.footer-social {
  display: flex;
  gap: 10px;
  /* Espacio entre los botones */
}

.social-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.social-button img {
  width: 24px;
  /* Tamaño de las imágenes */
  height: 24px;
  transition: transform 0.2s ease;
  /* Efecto de hover */
}

.social-button:hover img {
  transform: scale(1.2);
  /* Efecto de hover: agrandar la imagen */
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.footer-bottom ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.footer-contact a {
  color: inherit;
  /* Hereda el color del texto padre */
  text-decoration: none;
  /* Quita el subrayado */
}