.register__button--container {
    margin-top: 10px;
}

.register__button {
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #1C1C1C;
    height: 55px;
    width: 100%;
    border: transparent;
    border-radius: 13px;
}

.loader {
    height: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @media (max-width: 600px) {
    .register__button {
      height: 45px;
      font-size: 0.9rem;
  }
  .register__button {
    font-size: 0.7rem;
  }

  }
  